.gradient-field canvas {
  display: block;
  touch-action: none;
  background-color: white;
}

.gradient-field input {
  width: 100vw;
  height: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  border: 3px solid green;
  border-radius: 0px;
}

.gradient-field input:focus {
  border: 3px solid red;
  outline: none;
}
